* {
  padding: 0;
  margin: 0;
}

body {
  padding: 30px;
  font-family: sans-serif;
  margin: 20px;
}

li {
  list-style: none;
}

#quiz-container {
  text-align: center;
}

#question {
  font-size: 1.2em;
  margin-bottom: 10px;
}

#answer-choices {
  list-style: none;
  padding: 0;
}

#answer-choices li {
  margin-bottom: 5px;
}

#feedback {
  font-style: italic;
}

#submit-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

#submit-button:hover {
  background-color: #3e8e41;
}
