* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
  font-family: sans-serif;
  margin: 20px;
}

li {
  list-style: none;
}

h2 {
  padding-left: 7px;
  margin-bottom: 8px;
}

#quiz-container {
  width: 570px;
}

.highlights {
  background: wheat;
}

#opt {
  padding: 0 20px;
  background: #f4f4f4;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
}

#opt:hover {
  background: #dbdbdb;
}

#opt:active {
  background: rgb(255, 251, 243);
}

label {
  display: flex;
  width: 90%;
  float: right;
  text-align: center;
  align-items: center;
  cursor: piointer;
  padding: 10px 0;
  cursor: pointer;
}

input {
  display: block;
  width: 10%;
  float: left;
  cursor: pointer;
}

#submitBtn {
  padding: 10px 20px;
  margin-top: 5px;
  background: wheat;
  box-shadow: 2px 2px 2px rgb(33, 33, 33);
  border: 1px solid rgb(56, 56, 56);
  border-radius: 4px;
  cursor: pointer;
  float: right;
  transition: 0.3s;
}

#submitBtn:active {
  box-shadow: 0px 0px 0px rgb(33, 33, 33);
}
